body {
  justify-content: center;
  text-align: center;
  background-image: url("bg.png");
  font-size: 25px;
  font-family: "Schoolbell", cursive;
}

nav h1 {
  text-align: center;
  border: 1px yellow;
  border-radius: 15px;
  padding: 25px;
  margin: 25px;
  background-color: #1d8bb57a;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.35;
  color: rgb(3, 22, 27);
}

textarea {
  margin: auto;
  width: 522px;
  height: 173px;
  padding: 25px;
  display: block;
  width: 50%;
  border-radius: 15px;
  font-size: 25px;
}

#btn-translate {
  margin: 25px;
  display: inline-block;
  font-family: inherit;
  border-radius: 20px;
  padding: 1.25rem 4.5rem;
  cursor: pointer;
  background: #a0fbff;
  border: #a0fbff;
  font-size: 25px;
}
/* 
    #inputText {
      text-align: center; 
    }
    */

#outputText {
  padding: 25px;
  margin-top: 2rem;
  height: 90px;
  border: 2px dotted black;
  width: 50%;
  margin: auto;
  text-align: justify;
  background: #a0fbff;
  border-radius: 15px;
  font-size: 25px;
}
